<div class="page-header">
  <h1>
    Investors
    <a href="/investors/new" class="btn btn-lg btn-success">New Investor</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Email</th>
        <th>Password</th>
        <th>Actions</th>
      </tr>

      <% @investors.each do |investor| %>
      <tr>
        <td><%= investor.email %></td>
        <td><%= investor.password %></td>
        <td>
          <a href="/investors/<%= investor.id %>" class="btn btn-primary">Show</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @investors, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
